{{range .Descriptions }}
<span class="description">{{.}}</span>
{{end}}
<div class="editor">
  <header>
    <span class="tab">
      <img src="https://go.dev/blog/go-brand/Go-Logo/SVG/Go-Logo_Blue.svg" alt="golang-logo" class="logo" />
      <span>{{ .Name }}</span>
      <i class="fi fi-rr-cross-small close-icon"></i>
    </span>
    <nav>
      <span class="close"></span>
      <span class="minimize"></span>
      <span class="execute"></span>
    </nav>
  </header>
  <pre class="code">
        <code class="language-go line-numbers">
{{ .Code }}
        </code>
      </pre>
</div>
