* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post {
  position: relative;
  height: 1000px;
  width: 1000px;
  background: linear-gradient(145deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(9, 9, 121, 1) 100%,
      rgba(2, 0, 36, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor {
  position: relative;
  max-height: 500px;
  max-width: 700px;
}

.editor header {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.06);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.editor header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
  margin-right: 5%;
}

.minimize {
  display: inline-block;
  width: 0.7rem;
  background-color: #febc2e;
  height: 0.7rem;
  border-radius: 50%;
}

.close {
  display: inline-block;
  width: 0.7rem;
  background-color: #ff5f57;
  height: 0.7rem;
  border-radius: 50%;
}

.execute {
  display: inline-block;
  width: 0.7rem;
  background-color: #28c840;
  height: 0.7rem;
  border-radius: 50%;
}

.editor header .tab {
  display: flex;
  align-items: center;
  color: #ccc;
  font-size: 0.8rem;
  width: 25%;
  background-color: #2d2d2d;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-family: Ubuntu, sans-serif;
  margin-left: 0.65rem;
}

.tab .logo {
  margin-left: 0.5rem;
  margin-right: 0.1rem;
  width: 20%;
}

.tab .close-icon {
  margin-top: .2rem;
  margin-left: auto;
  margin-right: 0.5rem;
}

.editor .code {
  display: inline-flex;
  justify-content: start;
  padding-bottom: 0;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10rem;
  border-radius: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.description:nth-child(1) {
  top: 7%;
  left: 7%;
  text-align: left;
}

.description:nth-child(2) {
  top: 12%;
  right: 0%;
  text-align: right;
}

.description:nth-child(3) {
  bottom: 7%;
  left: 8%;
  text-align: left;
}

.description:nth-child(4) {
  bottom: 10%;
  right: 10%;
  text-align: right;
}

.description {
  position: absolute;
  width: 35%;
  font-family: 'Ubuntu';
  color: white;
  line-height: 1.5;
}